DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=loadboard

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=

MAPBOX_TOKEN=your_mapbox_access_token
SECRET_KEY=your_secret_key
